<!DOCTYPE html>
    <html>
    <head>
        <title>FlavorSavor - Facebook Login</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="button.css" />
        <script type="text/javascript" src="facebook.js"></script>
    </head>
    <body>
        <!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->

        <fb:login-button id="loginButton" scope="public_profile, email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>

        <span id="logoutButton" style="display:none;" onclick="fbLogout()">
            <a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a>
        </span>

    </body>
</html>
